<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="refresh" content="2">
	<title>DisBot Web Interface - Common Topics/Concepts Page</title>
	<link href="styles/style.css" rel="stylesheet"/>
	<style>
		table, th, td {
			border: 1px solid black
		}
	</style>
</head>
<body>
	<h1>Common Topics/Concepts</h1>
	<table>
		<tr>
			<th>Topic/Concept</th>
			<th>Count</th>
		</tr>
		{% for topic in topics %}
		<tr>
			<td>{{ topic[0] }}</td>
			<td>{{ topic[1] }}</td>
		</tr>
		{% endfor %}
	</table>
	</br>
	<button onclick="location.href = '/'" id="backButton">Back</button>
</body>
</html>


