
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>DisBot Web Interface - Index Page</title>
	<link href="styles/style.css" rel="stylesheet"/>
</head>
<body>
	<h1>DisBot - Web Interface</h1>
	<p id='welcome'>Welcome {{ user.name }}</p>
	<p></p><button id="displayTopics">View Topics/Concepts</button></p>

	<a href="/logout/">Logout</a>

	<script type="text/javascript">
		document.getElementById("displayTopics").onclick = function() {
			location.href = "/displayTopics.html";
		};
	</script>

</body>
</html>

